<h5>Update Post</h5>

<div class="container" id="update-bar">
  <form ng-submit="updatePack(pack)" id="update-pack-form">
    <input type="text" ng-model="pack.address" value="" placeholder="Street Address">
    <br>
    <input type="text" ng-model="pack.city" value="" placeholder="City">
    <br>
    <input type="text" ng-model="pack.brand" value="" placeholder="Beer Brand">
    <br>
    <input type="number" step="any" ng-model="pack.price" value="" placeholder="Price">
    <br>
    <button type="submit">Submit</button>
  </form>
</div>
