<div id="details" ng-hide="loggedOut">

  <div id="user-packs">

    <div id="pack-list" ng-repeat="pack in packs track by $index">

      <div class="each-pack">

        <h6> Posted By: <span class="redspan">{{ pack.username }}</span> &nbsp <i class="fa fa-times" ng-click="deletePack(pack._id)"></i> <!-- <i class="fa fa-pencil-square-o" ng-click="changeRoute()"></i> --> </h6>
        <h6> Address: {{ pack.address }} </h6>
        <h6> City: {{ pack.city }} </h6>
        <h6> Brand: {{ pack.brand }} </h6>
        <h6 id="price-padding"> Price: {{ pack.price | currency}} </h6>

      </div>

    </div>

  </div>

</div>
